# Ignore everything
/*
# Except:

!/Data
Data/*

# Raw data that can't be scraped online
!Data/Raw
Data/Raw/*

!Data/Raw/wa_local.xlsx
!Data/Raw/FE_IN_xwalk_2021.xlsx

# Clean data read as input
!Data/Clean
Data/Clean/*

!Data/Clean/FE_clean.rda
!Data/Clean/wapo_clean.rda
!Data/Clean/LegInfo_Clean.rda

!Data/Clean/Pursuits
Data/Clean/Pursuits/*

!Data/Clean/Pursuits/*.xlsx
!Data/Clean/PUrsuits/*.rda

# Key data construction scripts
!/Construction/
Construction/*
!Construction/MakeData.R

!Construction/ScrapeDataSets.R

!Construction/fixes_mpv.R
!Construction/harmonize_mpv.R
!Construction/harmonize_wa.R
!Construction/merge_mpv_wa.R
!Construction/legacy_pursuits.R

# Key data analysis scripts
!/Analyses/
Analyses/*

!Analyses/WAsince2015.Rmd
!Analyses/Common/

.Rproj.user
